Lenguaje de Marcas/Tema 5/Validacion/xsd/DefinicionDatoCompuestoXSD.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="pelicula">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="titulo" type="xs:string"/>
            <xs:element name="datos" type="datos_peli"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:complexType name="datos_peli">
    <xs:sequence>
        <xs:element name="director" type="xs:string"/>
        <xs:element name="estreno" type="xs:decimal"/>
        <xs:element name="actor" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
</xs:complexType>

</xs:schema>