Lenguaje de Marcas/Tema 5/Validacion/xsd/esquemaEjemplo1.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="alumno">

        <xs:complexType>

            <xs:sequence>

                <xs:element name="nombre" type="datos_nombre"/>
                <xs:element name="apellidos" type="datos_nombre"/>

            </xs:sequence>

        </xs:complexType>

    </xs:element>


    <xs:simpleType name="datos_nombre">

        <xs:restriction base="xs:string">

            <xs:minLength value="3"/>
            <xs:maxLength value="15"/>

        </xs:restriction>

    </xs:simpleType>

</xs:schema>